<h1>92hackers: Articles#index</h1>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to "New article", new_article_path %>

<p>Find me in app/views/articles/index.html.erb</p>